nav ul {
    font-size: 20px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline-block;
    margin-bottom: 20px;
    border: 1px solid black;
    
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -border-radius: 10px;
    border-radius: 10px;
}

nav ul li {
    display: inline-block;
    border-right: 1px solid #525252;
}
nav ul li:last-child {
    border-right: none;
}

nav ul li a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #525252;
}
nav ul li a:hover {
    color: black;
}
nav ul li a.router-link-active {
    color: black;
}

.form-row {
    margin-bottom: 5px;
}
.form-row label {
    width: 100px;
    display: inline-block;
}

.form-error {
    color: red;
}

table.people {
    border: 1px solid black;
    border-collapse:collapse;
}
table.people td {
    border: 1px solid black;
    padding: 5px;
    width: 100px;
}